<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://jbrichau.github.io">Johan's transcript</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://jbrichau.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/johanbrichau" rel="tooltip" title="Go to twitter.com/johanbrichau" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/jbrichau" rel="tooltip" title="Go to github.com/jbrichau" target="_blank">GitHub</a></li>
					<li class=""><a href="http://be.linkedin.com/in/johanbrichau" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
				</ul>
			 </li>		
		</ul>		
	  </div>
	</div>
  </div>
</div>